<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${titulo}">Title</title>
</head>
<body>
    <h1 th:text="${titulo}"></h1>
    <table>
        <thead>
        <tr>
            <th>id</th>
            <th>nome</th>
            <th>preco</th>
            <th>data criação</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product: ${products}">
            <td th:text="${product.id}"></td>
            <td th:text="${product.nome}"></td>
            <td th:text="${product.preco}"></td>
            <td th:text="${product.createAt}"></td>
        </tr>
        </tbody>
    </table>
</body>
</html>
